.Item{
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
        .url{
            width: 100px;
            height: auto;
        }
        .Money{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .label{
            text-align: center;
        }
}