.StashPage{
     margin-top: 40px ;
    .StashForm{
        margin-bottom: 20px;
        .StashTitle{
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        .Buy{
            display: flex;
        }
        .Price{
            margin-right: 10px;
        }
    }
  
}