.Footer{
    margin-top: 40px;
    width: 100%;
    background: #262626;
    color: #fff;
        .Column{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
                .logo{
                    height: 116px;
                    display: flex;
                    align-items: center;
                }
                .About{
                    height: auto;
                    display: flex;
                    padding: 32px 0;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #fff;
                        @media (max-width:1000px) {
                            flex-direction: column;
                        }
                        .Footer_column{
                            width: 33.33%;
                            display: flex;
                            flex-direction: column;
                            @media (max-width:1000px) {
                                width: 100%;
                            }
                            select{
                                max-width: 227px;
                                background: #262626;
                                color: white;
                                font-size: .6rem;
                                text-transform: uppercase;
                                padding: 8px 24px;
                                margin-bottom: 23px;
                                option{
                                    font-size: .6rem;
                                }
                            }
                            ul{
                                list-style: none;
                                padding: 0;
                                margin: 0;
                             
                                    li{
                                        margin-bottom: 23px;
                                        font-size: .6rem;

                                        a{
                                            text-decoration: none;
                                            &:focus, &:hover, &:visited, &:link, &:active {
                                            text-decoration: none;    
                                            color: white;
                                            font-size: .6rem;                                  
                                            }
                                        }
                                        &:last-child{
                                            margin-bottom: 0;
                                            @media (max-width:1000px) {
                                                margin-bottom: 23px;
                                            }
                                        }
                                    }
                            }
                        }
                       
                }
                .Store{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 120px;
                        img{
                            height: 40px;
                            cursor: pointer;
                        }
                }
                .Privacy{
                    height: auto;
                    border-top: 1px solid #ccc;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media (max-width:1000px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                        .Privacy_block{
                            font-size: .5rem;
                            width: 33.33%;
                            margin: 23px 0;
                            @media  (max-width:1000px) {
                                flex-direction: column;
                                align-items: flex-start;
                                margin: 0;
                                margin-bottom: 23px;
                                &:first-child{
                                    margin-top: 23px;
                                }
                            }
                        }
                }
        }
        
}

